.about {
    display: grid;
    place-content: center;
    margin-left: 130px;
    margin-right: 20px;

    button {
        margin: 0.5rem;
    }

    h2 {
        
    }

    p {
        text-align: start;
    }

}

.langExp {}


@media (max-width: 360px) {

    .about {
        margin-left: 100px;

    }
}