.navigation {

    display: flex;
    flex-direction: column;
    // width: 100px;
    height: 100%;
    position: fixed;
    background-color: rgba(12, 10, 10, 0.753);
    text-align: center;
    align-items: center;
    justify-content: center;


    nav {
        display: flex;
        flex-direction: column;
        height: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    h2 {
        font-size: 4rem;
        color: #E3E3E3;
        background-color: rgba(12, 10, 10, 0.753);
        border-radius: 2rem;
        height: 100px;
        width: 100px;
    }

    span {
        color: red;
    }

    li {
        list-style-type: none;
        writing-mode: vertical-lr;
        margin: 2rem;
        font-size: 2rem;
    }


    ul {
 
    }

    a{
        margin: 0;
        padding: 0;
    }
}