.navigation {
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 100%;
  position: relative;
  position: fixed;
  background-color: rgba(12, 10, 10, 0.753);


  nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  h2 {
    display: flex;
    font-size: 3rem;
    color: #E3E3E3;
    background-color: rgba(36, 36, 36);
    border-radius: 1.5rem;
    height: 6rem;
    width: 6rem;
    text-align: center;
    align-items: center;
    justify-content: center;

  }

  span {
    color: red;
  }

  li {
    list-style-type: none;
    writing-mode: vertical-lr;
    margin: 2rem 2rem 0rem 0rem;
    font-size: 2rem;

  }


  a {
    margin: 0;
    padding: 0;
  }
}


@media (max-width: 360px) {

  .navigation {
    width: 5rem;


    h2 {
      font-size: 2rem;
      height: 4rem;
      width: 4rem;

    }

    li {
      font-size: 1.5rem;
    }
  }


}