.navigation {
    display: flex;
    flex-direction: column;
    width: 120px;
    // width: 100px;
    position: relative;
    height: 100%;
    position: fixed;
    background-color: rgba(12, 10, 10, 0.753);
    text-align: center;
    align-items: center;
    justify-content: center;


    nav {
        display: flex;
        flex-direction: column;
        height: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    h2 {
        display: flex;
        font-size: 3rem;
        color: #E3E3E3;
        background-color: rgba(36, 36, 36);
        border-radius: 1.5rem;
        height: 100px;
        width: 100px;
        text-align: center;
        align-items: center;
        justify-content: center;
    
    }

    span {
        color: red;
    }

    li {
        list-style-type: none;
        writing-mode: vertical-lr;
        margin: 2rem;
        font-size: 2rem;
    }


    a{
        margin: 0;
        padding: 0;
    }
}

navigation::before,
navigation::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  background-color: deeppink;
  transition: all 250ms ease-in-out;
}

navigation::before {
  width: 2px;
  height: 100px;
  box-shadow: 298px 0 deeppink;
}

navigation::after {
  height: 2px;
  width: 300px;
  box-shadow: 0 98px deeppink;
}

navigation:hover::before {
  left: -10px;
  box-shadow: 318px 0 deeppink;
}

navigation:hover::after {
  top: -10px;
  box-shadow: 0 118px deeppink;
}


